.Waterfall {
      .image-wrapper {
        width: 33.333333334%;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      display: flex;
      flex-wrap: wrap;

      .Waterfall_hidden {
        display: none;
      }

      .Waterfall_loading {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .Waterfall_loading_spinner {
          width: 100px;
          height: 100px;
          border: 3px solid rgb(192, 220, 229);
          border-radius: 50%;
          border-top: 3px solid #EEE;
          @keyframes spin {
            from { transform: rotate(0deg) }
            to { transform: rotate(360deg) }
          }
          animation: spin 1s ease-in-out infinite;
        }
      }
}
  
.Waterfall_spotlight {
  width: 100%;
  height: 150px;
  margin-top: 100px;
  background-color: white;

  .Waterfall_search {
    display: flex;
    justify-content: center;

    input {
      width: 200px;
      height: 40px;
      border-radius: 3px;
      border: 1px solid #ddd;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: none;
      font-family: sans-serif;
      font-size: 0.8em;
      color: #888;
      padding: 0;
      padding-left: 5px;
      &:focus {
        outline: 2px solid lightblue;
      }
    }
    button {
      height: 42px;
      margin: 0;
      padding: 0 10px;
      outline: none;
      border: 1px solid #ddd;
      border-radius: 3px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      color: #888;
      cursor: pointer;
    }
  }
}